*
  margin 0
  padding 0

body
  background color-background
  color color-font
  font-family font-default
  font-size 16px
  font-weight 500
  text-shadow 0 0 2px transparent
  @media screen and (max-width: 1260px)
    margin 0 30px
  @media screen and (max-width: 600px)
    font-size 13px

h1, h2, h3, h4, h5, h6
  font-family font-title

h1
  font-size 1.8em

h2
  font-size 1.5em

h3
  font-size 1.3em

a
  text-decoration none
  color color-link
  &:hover
   color #102b6a

.alignleft
  float left

.alignright
  float right

.clearfix
  clearfix()

.inner
  width page-width
  margin 0 auto
  @media screen and (max-width: 1260px)
    width 100%

#main-col
  width 75%
  @media screen and (max-width: 1260px)
    width 100%
    margin-right -300px
  @media screen and (max-width: 950px)
    margin-right 0
    float none

#wrapper
  margin-top 30px	//控制文章与header的间距
  @media screen and (max-width: 1260px)
    margin-right 300px
  @media screen and (max-width: 950px)
    margin-right 0